
body {
  background: rgb(98,41,0); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,rgb(60,20,0), rgb(98,41,0) ,rgb(60,20,0)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,rgb(60,20,0), rgb(98,41,0) ,rgb(60,20,0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  line-height: 1;
  margin: 0px; 
  margin-top:20px;
}

.container-fluid {
  overflow: hidden;
}

.btn .btn-secondary {
  margin: auto;
}

div.leftSide-col {
  margin-left: 30%;
}

div.rightSide-col {
  margin-left: 15%;
}

/* --------------------------------------NAVBAR-------------------------------------- */
nav {
  font-family: 'Courier New';
  background-color: #212121;
  padding: 2em;
  border-radius: 0.5em;
}

.navbar-toggler {
  cursor: pointer;
  color: #FFF;
}

.nav-link, .nav-link:focus {
  color: #FFF;
}

.logo {
  font-family: 'Dancing Script', cursive;
  color: #FFF;
}

/* --------------------------------------INTRO-------------------------------------- */

.mypic {
  width: 7em;
  height: 7em;
}

.email {
  text-align: center;
  color: #FFF;
  font-family: 'Courier New', Courier, monospace;
}

.cp-profiles, .cp-profiles:active, .cp-profiles:focus {
  text-align: center;
  color: #D5D5D5;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
}

/* --------------------------------------ABOUT TAGS-------------------------------------- */

.intro {
  margin: 0;
  background-color: #212121;
}

.about p {
  color: #ddd;
}

div.abt {
  font-family: 'Courier New';
  font-size: 1.3em;
  margin-bottom: 1em;
  text-align: center;
}

.badge {
  color: #ddd;
}

#about-read-more {
  display: none;
}

.icon-bar {
  text-align: center;
  display: block;
  padding: 0.5em;
  font-size: 1.7em;
  margin: auto;
}

.icon-bar a {
  padding: 10px;
  color: #eee;
}

.abouttext {
  line-height: 1.5em;
  text-align: justify;
  font-family: monospace;
  font-size: 1.2em;
}

.aboutbtn {
  font-weight: bold;
}


/* --------------------------------------WORK CARDS-------------------------------------- */

.work {
  margin: 0.1em;
  padding-top: 2em;
  border-radius: 0.3em;
}

div.icon {
  width: 100%;
}

div.box {
  display: block;
  padding: 10px;
}

.projbtn {
  font-family: 'Dancing Script', cursive;
  color: #fff; 
}

.projtext {
  line-height: 1.2em;
}

.expbtn {
  text-align: center;
  color: #000;
}

article p {
  font-size: 17px;
  padding: 10px;
}

.card {
  border: 2px solid rgba(0,0,0,0.5);
  border-radius: 7px;
  background-color: #A0A0A0;
  -webkit-box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.47);
  -moz-box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.47);
  box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.47);
}

.card .card-body {
  padding: 10px;
}

li{
  margin: 10px 0;
  text-align: center
}

.awardlist {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.1em;
}

.project-item{
  background: #A0A0A0;
  color: #000;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 0.9em;
  width: 100%;
}

.project-item:hover{
  background-color: #000;
  color: #A0A0A0;
}

.git-icon {
  text-decoration: underline;
}

.dropdown-menu {
  position: relative;
  width:100%;
  background-color: #D5D5D5;
}

.dropdown-item:active {
  background: #D5D5D5;
}

.animatedright {
  animation-duration: 1s;
  animation-name: slideinright;
}

@keyframes slideinright {
  from {
    margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.animatedleft {
  animation-duration: 1s;
  animation-name: slideinleft;
}

@keyframes slideinleft {
  from {
    margin-left: -100%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* --------------------------------------FOOTER-------------------------------------- */

footer.footsy {
  background-color: #212121;
  border-radius: 0.5em;
  overflow: hidden;
}

footer.footsy h1 {
  color: #fff;
  font-size: 35px;
}

/*----------------TIMELINE----------------*/

.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 0
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }
}